/* NewProductButton.css */
.pdl{
  padding-right: 10px;
}
.new-product-button {
    padding: 10px 20px; /* Adjust padding to fit your design */
    background-color: #001EB9; /* A blue background color */
    color: white; /* White text */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Slightly rounded corners */
    font-weight: bold; /* Make the font bold */
    font-size: 16px; /* Adjust font size to fit your design */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove the focus outline */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
  }
  
  .new-product-button:hover,
  .new-product-button:focus {
    background-color: #001EB9; /* Darker blue on hover/focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Larger shadow for hover/focus */
  }
  
  .new-product-button:active {
    background-color: #001EB9; /* Even darker blue for active state */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Revert shadow to original on active state */
  }
  
  /* If you have an icon in the button, you might need additional styling */
  .new-product-icon {
    margin-right: 8px; /* Space between icon and text, if necessary */
  }
  