/* ProductTable.css */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px; /* Add a margin if you want space around the table */
}

.product-table th,
.product-table td {
  padding: 15px; /* Add padding to table cells */
  border-bottom: 1px solid #eaeaea;
}

.product-table th {
  background-color: #f8f8f8;
  color: #001EB9;
  font-weight: bold;
}

/* Add padding to the entire table */
.product-table-container {
  padding: 20px; /* Adjust the padding as needed */
}

/* Styles for other elements like the image cells and action buttons */
