
.product-table {
  width: 92%;
  border-collapse: collapse;
  margin-left: 60px; 
  margin-top: 20px; 
  margin-bottom: 20px; 

}

.product-table th,
.product-table td {
  padding: 15px; 
  border-bottom: 1px solid #eaeaea;
}

.product-table th {
  background-color: #f8f8f8;
  color: #001EB9;
  font-weight: bold;
}

.product-table-container {
  padding: 20px; 
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.product-image {
  display: block; 
  max-width: 60px; 
  height: auto; 
}



